
body{
    padding: 0;
    margin: 0;

}
.register{
    background: #34b6b6;
    width: 100%;
    height: 200px;
    border-bottom-left-radius:2.4rem;
    border-bottom-right-radius:2.4rem ;
}
fieldset{
    border: 1px solid #34b6b6;
}